* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	color: #49274A;
	background-color: #94618E;
	font-family: 'Signika Negative', sans-serif;
}

/** Header **/
#header-nav {
	background-color: #F8EEE7;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 { 
	/** Food LLC **/
	font-family: 'Nunito', sans-serif;
	color: #808080;
	font-size: 1.8em;
	font-weight: bold;
  	margin-top: 0;
  	line-height: .5;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
	text-align: center;
	background: #F4DECB;
	line-height: 10px;
	margin: 0px;
}
#nav-list a:hover {
	background: #9f7f60;
	color: #fff;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #808080;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/** Main Content **/
h2 {
	color: #fff;
}

#chicken-box, #beef-box, #sushi-box {
	height: 1000px;
	width: 100%;
	background-color: #F4DECB;
	margin-bottom: 10px;
	position: relative;
	border: 2px solid #49274A;
	overflow: scroll;
}

.title {
	position: relative;
	size: 1.2em;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	right: 0;
	width: 100%;
	text-transform: uppercase;
}

.description {
	margin: 20px;
	position: relative;
	padding-top: 10px;
}

.top-nav > a {
	text-align: center;
}