<style>
/* Global styling */
* {
	box-sizing: border-box;
	font-family: Helvetica, Arial, Sans-serif;
}

h1 {
	text-align: center;
	font-size: 175%;
	margin-bottom: 15px;
}

/* Shared styling for each div element containing details for a dish */
.dish {
	background-color: #DCDCDC;
	position: relative;
	border: 3px solid black;
	position: relative;
	margin: 10px;
}

/* Shared styling for all dish titles */
h2 {
	font-size: 125%;
	text-align: center;
	float: right;
	padding: 8px;
	border: 1px solid black;
	margin-top: 0px;
	margin-bottom: 5px;
	color: #FFFFFF;
}

/* Individual background color styling for each dish title */
#title1 {
	background-color: #E37222;
}

#title2 {
	background-color: #66B9BF;
}

#title3 {
	background-color: #EEAA78;
}

/* Styling for dish descriptions */
p {
	padding-top: 5px;
	text-align: justify;
	clear: both;
}

/* Simple Responsive Framework */
.row {
	width: 100%;
	margin: 0;
}

/* Desktop */
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
     .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}